<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
"./conf/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- MYSQL -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost/tera</property>
         

         <!-- SQLite -->
         <!--
        <property name="hibernate.dialect">com.applerao.hibernatesqlite.dialect.SQLiteDialect</property>
        <property name="hibernate.connection.driver_class">org.sqlite.JDBC</property>
        <property name="hibernate.connection.url">jdbc:sqlite:../databases/mydb.db</property>
        -->

        <property name="hibernate.connection.charSet">UTF-8</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password"></property>
        
        <property name="hbm2ddl.auto">update</property>
    </session-factory>
</hibernate-configuration>